
.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project 

.cache

.DS_Store
Plugins/jdk-25_windows-x64_bin.exe
*.exe
Plugins/jdk-25_windows-x64_bin.exe
Plugins/jdk-25_windows-x64_bin.exe
